.imagens {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    img {
    border: 1px solid #fff;
    margin: 50px 16px;

    &:nth-child(5) {
      margin-bottom: 60px;
    }

    &:nth-child(6) {
      margin-bottom: 60px;
    }

    &:nth-child(7) {
      margin-bottom: 60px;
    }

    &:nth-child(8) {
      margin-bottom: 60px;
    }
  }
}
